<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
 
<head>
	<title>adduser</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 
<body>
<div class="container">
	<br/><br/>

<form action="#" th:action="@{/adduser}"class="form-signin" th:object="${utilisateur}" method="post"style="width:30%;margin:auto">
    <h3 class="form-signin-heading">Inscription</h3>
<div>
    <input type="text"  id="nom" placeholder="nom"class="form-control">

 
    <input type="text" id="mail" placeholder="mail"class="form-control">
  
     <input type="text" id="passeword" placeholder="passeword"class="form-control">
   
 <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login">Save</button>

</div>
</form>

</div>
</body>
</html>

