<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	>
 
 
<head>
<meta charset="utf-8"/>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 
<body>




<div class="container pt-3">
 <div class="form-group">
 <div class="jumbotron text-center">
 
 <h2>INSCRIPTION</h2>
 </div>
 	</div>
 	

 	 
<form action="#" th:action="@{/ajouterUtilisateur}" th:object="${utilisateur}" method="post">
   
    <input type="text" th:field="*{nom}" id="nom" class="form-control"placeholder="Nom">
    <div th:if="${#fields.hasErrors('nom')}"  class="alert alert-danger" role="alert"> <span th:errors="*{nom}"></span></div>
     <br>
    <input type="text" th:field="*{mail}" id="mail" class="form-control"placeholder="Login">
    <div  th:if="${#fields.hasErrors('mail')}" class="alert alert-danger" role="alert"><span th:errors="*{mail}"></span></div>
  <br>
    <input type="text" th:field="*{password}" id="password"class="form-control" placeholder="password">
     <div  th:if="${#fields.hasErrors('password')}" class="alert alert-danger" role="alert">  <span th:errors="*{password}"></span></div>
      <br>
    <input type="submit" class="btn btn-primary"value="Inscription">   
    
</form>
<div class="alert alert-danger"th:if="${error}" role="alert">
  Ce login est deja utilisé
</div>
    <br>
<div  >
   <a  href ="login">Page de Connexion</a>
   </div>
   
</div>
	
</body>
</html>
