<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymleaf/layout"
	layout:decorator="template1">
 
 
<head>
<meta charset="utf-8"/>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 
<body>

<div layout:fragment="content">
<div class="container pt-3">
 <div class="form-group">
 <div class="jumbotron text-center">
 
 <h2>Ajouter un site d'ecalade</h2>
 </div>
 	</div>
 	</div>
 	 <div class="container" >
  
<form action="#" th:action="@{/ajoutSite}" th:object="${siteEscalade}" method="post">
    <br>
    <input type="text" th:field="*{nom}" id="nom"class="form-control" placeholder="Nom">
    <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
   <br>
    <input type="text" th:field="*{adresse}" id="adresse" class="form-control" placeholder="adresse">
    <span th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}"></span>
      <br>
    <input type="text" th:field="*{codePostal}" id="codePostal" class="form-control" placeholder="codePostal">
    <span th:if="${#fields.hasErrors('codePostal')}" th:errors="*{codePostal}"></span>
   <br>
    <input type="text" th:field="*{description}" id="description" class="form-control" placeholder="description">
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
  <br>
    	 <label for="nom">Nombre de voies</label>
   		<select th:field="*{nombreDeVoie}">
   		<option th:each="o:${listnbreVoies}"  th:text="${o.nom}" th:value= "${o.nom}"></option>
   	</select>
 
   		 <label for="nom">Nombre de secteurs</label>	
   		<select th:field="*{nombreDeSecteur}">
   		<option th:each="o:${listnbreSecteur}"  th:text="${o.nom}" th:value= "${o.nom}"></option>
   	</select>
   	
   		 <label for="nom">Longueur Max</label>
   		<select th:field="*{longueurMax}">
   		<option th:each="u:${listLongueurs}"  th:text="${u.nom}" th:value= "${u.nom}"></option>
   	</select>
   	
   		 <label for="nom">Cotation Max</label>
   		<select th:field="*{cotationMax}">
   		<option th:each="x:${listCotation}"  th:text="${x.nom}" th:value= "${x.nom}"></option>
   	</select>
 
  
  
    <label for="nom">Statut</label>
   		<select th:field="*{statut}">
   			<option value="officiel">officel</option>
    <option value="non officiel">non Officiel</option>
   	</select>
   	
   	  <label for="nom">Region</label>
   	<select th:field="*{region}">
   		<option th:each="o:${listRegion}"  th:text="${o.nom}" th:value= "${o.codeRegion}"></option>
   	</select >
   	
   	
    <input type="submit" class="btn btn-primary" value="Ajouter">   
    
</form>
</div>
</div>



	
</body>
</html>
