<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymleaf/layout"
	layout:decorator="template1">
 
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 
<body>
<div layout:fragment="content">

	<div>
		<a th:href="@{/consulterFormulaireVoie}"><input type="button"  style="color: green;"value="+Ajouter" /></a>
	</div>
		
		
	<div >
		<table class="table table-stripped">
			<tr>
				<th>Nom</th><th>longueur</th><th>Cotation</th>
			</tr>
			<tr th:each="o:${listVoie}" >
				<td th:text="${o.nom}" ></td>
				<td th:text="${o.longueur}" ></td>
				<td th:text="${o.cotation}"></td>
			</tr>
		</table>
	</div>
						
</div>	
</body>
</html>