<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymleaf/layout"
	layout:decorator="template1">
 
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 
<body>
	<div layout:fragment="content">
<div class="container pt-3">
<div class="form-group">
 	<div class="jumbotron text-center">

		<h1>Listes des voies</h1>
		</div>
		<br>
		<div>
			<a th:href="@{/consulterFormulaireVoie}"><input type="button"  class="btn btn-primary" value="+Ajouter" /></a>
		</div>
		<br>
		
		<div th:if=${listVoie}>
			<table class="table table-striped">
				<tr>
					<th scope="col">Nom</th>
					<th scope="col">longueur</th>
					<th scope="col">Cotation</th>
					<th scope="col">Site</th>
				</tr>
				<tr th:each="o:${listVoie}" >
					<td th:text="${o.nom}" ></td>
					<td th:text="${o.longueur}" ></td>
					<td th:text="${o.cotation}"></td>
					<td th:text="${o.site.nom}"></td>
				</tr>
			</table>
		</div>
<div>	
		<form th:action="@{/consulterVoie}" >
		<select >
   			<option th:each="o:${listVoie}"  th:text="${o.cotation}" th:value= "${o.cotation}">Cotation</option>
   		</select>
   	
   		 <select >
   			<option th:each="o:${listVoie}"  th:text="${o.longueur}" th:value= "${o.longueur}">longueur</option>
  	 	</select> 
   	
   		
   		 <input type="submit"  class="btn btn-primary" value="Rechercher">  
	</form>	
	</div>	
	</div>

<div th:if="${listCritere}">
	<table class="table table-stripped">
				<tr>
					<th scope="col">Nom</th>
					<th scope="col">longueur</th>
					<th scope="col">Cotation</th>
					<th scope="col">Site</th>
				</tr>
				<tr th:each="o:${listCritere}" >
					<td th:text="${o.nom}" ></td>
					<td th:text="${o.longueur}" ></td>
					<td th:text="${o.cotation}"></td>
					<td th:text="${o.site.nom}"></td>
					
				</tr>
			</table>
</div>
	</div>
	</div>
</body>
</html>