
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymleaf/layout"
	layout:decorator="template1">
 
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 
<body>
	<div layout:fragment="content">
	<div class="container pt-3">
 <div class="form-group">
 <div class="jumbotron text-center">
		<h1>Liste des sites d'escalade</h1>
	</div>
		<br>
		<div>
			<a th:href="@{/siteForm}"><input type="button" class="btn btn-primary"value="+Ajouter" /></a>
		</div>
		
		<br>
	
	<div  class="list-group">
		<table class="table table-striped">
			<tr>
				<th scope="col">Nom</th><th scope="col">adresse</th><th scope="col">Code Postal</th><th scope="col">Commentaire</th><th scope="col">Statut</th><th scope="col"></th>
			</tr>
			<tr th:each="o:${listSite}" >
				<td th:text="${o.nom}" ></td>
				<td th:text="${o.adresse}" ></td>
				<td th:text="${o.codePostal}"></td>
				<td th:text="${o.description}"></td>
				<td th:text="${o.statut}"></td>
				<td><a th:href="@{/consulterSiteDetails/{id}(id=${o.codeSiteEscalade})}"><input type="button"  id="${o.codeSiteEscalade}" class="btn btn-primary" value="Consulter" /></a></td>
				
			</tr>
		</table>
	</div>

				</div>
				</div>		
</div>	
</body>