
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
 
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 
<body>
	<div>

			<form th:action="@{/consulterVoie}" class="form-signin"  method="post"style="width:30%;margin:auto">
				<div th:object="${site}" >
		<select  class="form-control"   name="listSite">
		<option value="">Site d'escalade</option>
    <option  th:each="site : ${listSite}"  th:value="${site.codeSiteEscalade}"th:text="${site.nom}" ></option>
    
    
</select>
</div>
			
			
			
       <div th:if="${listSite == null or lists.isEmpty(listSite)}">
           <div>"pas de site d'escalade"</div>
       </div>
			
			</form>
		

			
		
				<div class="pane panel-primary"  >
			<div class="panel heading">Liste des Voie</div>
			<div class = "panel body">
			<table class="table table-stripped">
			<tr>
			<th>Nom</th><th>longueur</th><th>Cotation</th>
			</tr>
			<tr th:each="o:${listVoie}">
			<td th:text="${o:nom}" ></td>
			<td th:text="${o:longueur}"></td>
			<td th:text="${o:cotation}"></td>
			</tr>
			</table>
			<div>
			</div>
			</div>
			</div>
			
	
	</div>
			
	
	
	
</body>
</html>


