 
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymleaf/layout"
	layout:decorator="template1">
 
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 
<body>

	<div layout:fragment="content">
	<div class="container pt-3">
 <div class="form-group">
 <div class="jumbotron text-center">
		<h1> sites d'escalade</h1>
	</div>
	
		<br>
	<h2>Detail du site</h2>	
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" th:text="${siteEscalade.nom}"></li>
    <li class="list-group-item"th:text="${siteEscalade.adresse}"></li>
    <li class="list-group-item"th:text="${siteEscalade.codePostal}"></li>
      <li class="list-group-item"th:text="${siteEscalade.description}"></li>
        <li class="list-group-item"th:text="${siteEscalade.statut}"></li>
         <li class="list-group-item"th:text="${siteEscalade.nombreDeSecteur}"></li>
           <li class="list-group-item"th:text="${siteEscalade.nombreDeVoie}"></li>
            <li class="list-group-item"th:text="${siteEscalade.cotationMax}"></li>
               <li class="list-group-item"th:text="${siteEscalade.longueurMax}"></li>
  </ul>
</div>
	</div>
	<div><span th:if="${role!='utilisateur'} "> <a th:href="@{/modifierStatut/{id}(id=${siteEscalade.codeSiteEscalade})}"><input  type="button"  id="${siteEscalade.codeSiteEscalade}"  class="btn btn-primary" value="Modifier Statut"/></a></span></div>
	<br>
	<div>
	<form th:action="@{/ajouterCommentaire/{id}(id=${siteEscalade.codeSiteEscalade})}"  th:object="${commentaires}" method="get">
	
	   <input type="text" th:field="*{description}" id="description" class="form-control"placeholder="Ajouter un commentaire">
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
    <br>
	<input type="submit" class="btn btn-primary" id="siteEscalade.codeSiteEscalade"value="Ajouter">
	
	</form>
	</div>
	
	
		<div class="form-group">
			<div th:if="${listCommentaires}">
				<h2>Liste des Commentaires du site</h2>
				
				<div  class="list-group">
			<table class="table table-striped">
				<tr>
				<th scope="col">Utilisateur</th>
				<th scope="col">Date</th>
				<th scope="col">Description</th>
				<th scope="col"></th>
				<th scope="col"></th>
				</tr>
				
				<tr th:each="o:${listCommentaires}" >
				<td th:text="${o.utilisateur.nom}" ></td>
				<td th:text="${o.date}" ></td>
				<td th:text="${o.description}" ></td>
				<td><span th:if="${role!='utilisateur'} "> <a th:href="@{/deleteCommentaire/{id}(id=${o.codeCommentaire})}"><input  type="button"  id="${o.codeCommentaire}"  class="btn btn-primary" value="Supprimer" /></a></span></td>	
				<td><span th:if="${role!='utilisateur'} "><a th:href="@{/consulterFormulaireCommentaire/{id}(id=${o.codeCommentaire})}"><input  type="button"  id="${o.codeCommentaire}"  class="btn btn-primary" value="Modifier" /></a></span></td>	
				
				
				</tr>
				</table>
	            </div>
	
					</div>	
	</div>
	</div>
	</div>


</body>
</html>