<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://ultraq.net.nz/thymleaf/layout">
<head>
<meta charset="utf-8"/>		
<title>Site Escalade</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 
<body>
<header>
<div class="navbar navbar-inverse" >
<div class="container-fluid" >
<ul class="nav navbar-nav">
<li ><a th:href="@{/consulterHome}">Home</a></li>     
<li ><a th:href="@{/consulterListSite}" >Site d'escalade</a></li>
<li ><a th:href="@{/consulterTopos}"  >Topos</a></li>

</ul>

<form th:action="@{/logout}" method="post">
<div class=pull-right>

    <input type="submit"class="btn btn-primary" value = "se déconnecter"></input>
    </div>
</form>
</div>
</div>
</header>
<section layout:fragment="content"></section>
<footer >
<div class="navbar-fixed-bottom"></div>
</footer>
</body>
</html>
