
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	>
 
 
<head>
<meta charset="utf-8"/>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 
<body>

<div class="container pt-3">
<div class="form-group">
 	<div class="jumbotron text-center">
	<h1>Liste des Utilisateurs</h1>
		</div>
		<br>
	<div >
		<table class="table table-striped">
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Adresse e-mail</th>
			</tr>
			<tr th:each="o:${listUtilisateur}" >
				<td th:text="${o.nom}" ></td>
				<td th:text="${o.mail}" ></td>
			</tr>
		</table>
	</div>
	</div>
	</div>

</body>
</html>